* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(./Logotipos/snowflake-macro-photo-of-real-snow-crystal-beautiful-winter-background-seasonal-nature-and-the-wea.jpg);
    background-size: cover;
    height: 100vh;
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo-primera-seccion {
    width: 25rem;
    height: 223rem;
    padding: 0;
    margin: 0;
}

.elementos {
    margin-bottom: 0rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.elementos a{
    text-decoration: none;
}


.list-item {
    display: flex;
}

.menu-hamburguesa {
    display: none;
}

.icono-menu-hamburguesa {
    width: 2rem;
    height: 2rem;
    display: none;
}

.item {
    list-style: none;
    padding: 0rem 1.5rem;
    font-family: 'Italianno', cursive;
    font-size: 2rem;
    color: rgb(231, 185, 252);
    border-radius: 2rem;
}

.item:hover {
    background-color: rgba(226, 226, 226, 0.902);
    color: black;

    cursor: pointer;
    transition: 1s;
}

.section-1 {
    background-size: cover;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80vh;
    /* background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url(./Logotipos/winter-g3ca9ff5ef_1920.jpg); */

}

.section-1 p {
    font-family: 'Italianno', cursive;
    font-size: 3rem;
    color: antiquewhite;
    font-weight:lighter;
}

.button {
    margin: 0;
    margin-top: 3rem;
    background: transparent;
    padding: 0;
    border: none;
}

/* From uiverse.io */

/* From uiverse.io by @Custyyyy */
#bottone1 {
    padding:16px 33px;
    border-radius: 3rem;
    background: #f7b1ffdd;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    color: #a858c0;
   }
   
   #bottone1:hover {
    box-shadow: 7px 5px 56px -14px #e08bff;
   }
   
   #bottone1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #a858c0;
   }

/* Segunda seccion */

.contenedor-segunda-seccion {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.img-segunda-seccion {
    width: 30rem;
    height: 25rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 5px black;
}


.texto-segunda-seccion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto-segunda-seccion h2 {
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    color: rgb(111, 36, 146);
    font-family: 'Italianno', cursive;
}

.texto-segunda-seccion p {
    margin-bottom: 1.5rem;
    width: 30rem;
    font-size: 1rem;
    color: #7e7e7e;
}

#bottone2 {
    padding:16px 33px;
    border-radius: 3rem;
    background: #54315add;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    color: white;
   }
   
   #bottone2:hover {
    box-shadow: 7px 5px 56px -14px #ba06fc;
   }
   
   #bottone2:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #a858c0;
   }


/* Tercera seccion */

.contenedor-tercera-seccion {
    height: 70vh;
    padding: 2rem 4rem;
    background-color: #2c2c2c;
    text-align: center;
    color:antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-tercera-seccion h2{
    margin-bottom: 2.5rem;
    font-family: 'Italianno', cursive;
    font-size: 4rem;
    color: #ffffff;
    font-weight:lighter;
}

.texto-tercera-seccion p{
    padding: 0rem 7rem;
}

/* cuarta seccion */

.cuarta-seccion {
    background-image: linear-gradient(rgba(255, 255, 255, 0.742), rgba(202, 181, 207, 0.605)), url('./Logotipos/winter-snowflake-illustration-on-blue-background.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-cuarta-seccion {
    padding: 2rem 3rem;
    text-align: center;
}

.texto-cuarta-seccion h2 {
    margin-bottom: 3rem;
    font-size: 4rem;
    font-family: 'Italianno', cursive;
    color: #555555;
}


.texto-cuarta-seccion p{
    margin-bottom: 2rem;
}

.img-cuarta-seccion {
    width: 5rem;
    height: 5rem;
}

.iconos-cuarta-seccion {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.icono-1,
.icono-2,
.icono-3 {
    margin: 0rem 4rem;
}

.img-cuarta-seccion {
    margin-bottom: 0.5rem;
}

.iconos-cuarta-seccion h4 {
    font-family: 'Italianno', cursive;
    font-size: 2rem;
    color:#ce46ffc6;
    background-color: rgba(255, 255, 255, 0.469);
    padding: 0.5rem 1rem;
    border-radius: 25rem;
}

.iconos-cuarta-seccion h4:hover{
    background-color: #a858c0;
    color: white;
}

/* From uiverse.io by @alexmaracinaru */
.cta {
    border: none;
    background: none;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 1rem;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: rgb(186, 47, 198);
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* quinta seccion */

.quinta-seccion {
    height: 40vh;
    background-color:#2c2c2c; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-quinta-seccion{
    margin-top: 2rem;
    margin: 0;
}

.redes-sociales-quinta-seccion{
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 3rem;
}

.telefono-quinta-seccion {
    color: antiquewhite;
    margin-bottom: 1rem;
}

.telefono-quinta-seccion h4 {
    font-size: 2.5rem;
    font-family: 'Italianno', cursive;
    font-weight:lighter;
}

.email-quinta-seccion {
    color: antiquewhite;
    margin-bottom: 1rem;


}

.email-quinta-seccion h4 {
    font-size: 2.5rem;
    font-family: 'Italianno', cursive;
    font-weight:lighter;
}

.logo-quinta-seccion {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0rem 0.7rem;
}

.derechos {
    text-align: center;
    background-color: #2c2c2c;
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}



@media screen and (max-width:360px) {
    /* primera seccion */
    .list-item{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .logo-primera-seccion{
        width: 12rem;
        height: 10rem;
        margin-bottom: 2rem;
    }
    .section-1{
        justify-content: none;
        height: 100%;
    }
    .section-1 p{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    /* segunda seccion */
.segunda-seccion{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .contenedor-segunda-seccion{
        flex-direction: column;

    }
    .imagen-segunda-seccion{
        display: none;
    }

    .texto-segunda-seccion h2{
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    .texto-segunda-seccion p{
        padding: 0rem 5rem;
        margin-bottom: 3rem;
    }

    /* tercera seccion */

    .contenedor-tercera-seccion{
        height: 100vh;
        padding: 0;
    }
    .texto-tercera-seccion h2{
        font-size: 3rem;
    }
    .texto-tercera-seccion p{
        padding: 0rem 1.5rem;
    }

    /* cuarta seccion */


    .cuarta-seccion{
        width: 100%;
    }

    .contenedor-cuarta-seccion{
    width: 100%;
    }
    .texto-cuarta-seccion h2{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .texto-cuarta-seccion p{
        padding: 0rem 1rem;
    }

    .cta{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .iconos-cuarta-seccion{
        flex-direction: column;
        margin: 0;
    }
    .img-cuarta-seccion{
        width: 2rem;
        height: 2rem;
    }

    .iconos-cuarta-seccion h4{
        font-size: 1.5em;
        padding: 0.2rem 1rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    .icono-1,
    .icono-2,
    .icono-3{
        margin: 0;
    }   
}

@media screen and (max-width:480px) {
    /* primera seccion */
    .list-item{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .logo-primera-seccion{
        width: 12rem;
        height: 10rem;
        margin-bottom: 2rem;
    }
    .section-1{
        justify-content: none;
        height: 100%;
    }
    .section-1 p{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    /* segunda seccion */
.segunda-seccion{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .contenedor-segunda-seccion{
        flex-direction: column;

    }
    .imagen-segunda-seccion{
        display: none;
    }

    .texto-segunda-seccion h2{
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    .texto-segunda-seccion p{
        padding: 0rem 5rem;
        margin-bottom: 3rem;
    }

    /* tercera seccion */

    .contenedor-tercera-seccion{
        height: 100vh;
        padding: 0;
    }
    .texto-tercera-seccion h2{
        font-size: 3rem;
    }
    .texto-tercera-seccion p{
        padding: 0rem 1.5rem;
    }

    /* cuarta seccion */


    .cuarta-seccion{
        width: 100%;
    }

    .contenedor-cuarta-seccion{
    width: 100%;
    }
    .texto-cuarta-seccion h2{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .texto-cuarta-seccion p{
        padding: 0rem 1rem;
    }

    .cta{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .iconos-cuarta-seccion{
        flex-direction: column;
        margin: 0;
    }
    .img-cuarta-seccion{
        width: 2rem;
        height: 2rem;
    }

    .iconos-cuarta-seccion h4{
        font-size: 1.5em;
        padding: 0.2rem 1rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    .icono-1,
    .icono-2,
    .icono-3{
        margin: 0;
    }
}